<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="NtpProje_Web.Site" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Genç Birey Yazılım</title>

    <link href="<%= ResolveUrl("~/css/genc_birey_stil.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/css/base.css") %>" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/css/index.css") %>" rel="stylesheet" />

    <script type="text/javascript" src="<%= ResolveUrl("~/scripts/jquery-1.7.2.min.js") %>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/scripts/frontend/contentslider.js") %>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/scripts/jquery.flow.1.2.js") %>"></script>

    <script>
        $(function () {
            var ajaximages = [
                '<%= ResolveUrl("~/uploads/12-1000x406.jpg") %>',
                '<%= ResolveUrl("~/uploads/11-1000x406.jpg") %>',
            ];
            var imagestext = ['', ''];
            var caption_text = ['Bottom', 'Top'];
            var sudoSlider = $("#sudoslider1").sudoSlider({
                fade: true, auto: true, speed: 500, pause: 3000, prevNext: true,
                numeric: false, continuous: true, crossFade: false, responsive: true,
                ajax: ajaximages,
                ajaxLoadFunction: function (t) {
                    $(this).css("position", "relative").append('<div class="caption ' + caption_text[t - 1] + '"><div class="capt-in">' + imagestext[t - 1] + '</div></div>');
                },
                beforeAniFunc: function (t) { $(this).children('.caption').hide(); },
                afterAniFunc: function (t) { $(this).children('.caption').slideDown(400); }
            });
        });

        $(document).ready(function () {
            $("#myController").jFlow({
                slides: "#slides",
                controller: ".jFlowControl",
                slideWrapper: "#jFlowSlide",
                selectedWrapper: "jFlowSelected",
                auto: true,
                width: "262px",
                height: "324px",
                duration: 400,
                prev: ".jFlowPrev",
                next: ".jFlowNext"
            });
        });
    </script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

        <div class="wrapper">
            <div id="ust_alan">
                <div class="sol">
                    <a href='<%= ResolveUrl("~/index.aspx") %>' class="genc_birey_logo">
                        <img src='<%= ResolveUrl("~/images/logo/logo.png") %>' alt="Genç Birey Logo">
                    </a>
                </div>
                <div class="sag" style="padding-top: 15px;">
                    <div class="ust_navigation_bar">
                        <ul class="ust_navigation_menu">
                            <li class='<%= (AktifSayfaAdi == "index.aspx") ? "active" : "" %>'>
                                <a href='<%= ResolveUrl("~/index.aspx") %>'>Anasayfa</a>
                            </li>
                            <li class='<%= (AktifSayfaAdi == "hakkimizda.aspx") ? "active" : "" %>'>
                                <a href='<%= ResolveUrl("~/pages/hakkimizda.aspx") %>'>Hakkımızda</a>
                            </li>
                            <li class='<%= (AktifSayfaAdi == "projeler.aspx") ? "active" : "" %>'>
                                <a href='<%= ResolveUrl("~/pages/projeler.aspx") %>'>Projeler</a>
                            </li>
                            <li class='<%= (AktifSayfaAdi == "iletisim.aspx") ? "active" : "" %>'>
                                <a href='<%= ResolveUrl("~/pages/iletisim.aspx") %>'>İletişim</a>
                            </li>
                            <li class='<%= (AktifSayfaAdi == "login.aspx") ? "active" : "" %>'>
                                <a href='<%= ResolveUrl("~/Login.aspx") %>' style="color: #87257b; font-weight: bold;">🔐 Admin</a>
                            </li>
                            
                            <li class="social"><a href="#" class="social_facebook" title="Facebook"></a></li>
                            <li class="social"><a href="#" class="social_twitter" title="Twitter"></a></li>
                            <li class="social"><a href="#" class="social_google_plus" title="Google+"></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="ust_alan_adres">
                        Kıbrıs Şehitleri Cd. No:48 K:6 - 601 / Alsancak - İzmir<br />
                        Telefon : +90 232 464 1 184 / +90 232 464 1 183
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="menu_golgelik">
            <div class="wrapper">
                <ul class="navigation_menu">
                    <li class='<%= (AktifSayfaAdi == "index.aspx") ? "active" : "" %>'>
                        <a href='<%= ResolveUrl("~/index.aspx") %>'>ANA SAYFA</a>
                    </li>
                    <li class="menu_break"></li>

                    <li class='<%= (AktifSayfaAdi == "hizmetler.aspx") ? "active" : "" %>'>
                        <a href='<%= ResolveUrl("~/pages/hizmetler.aspx") %>'>HİZMETLERİMİZ</a>
                    </li>
                    <li class="menu_break"></li>

                    <li class='<%= (AktifSayfaAdi == "projeler.aspx") ? "active" : "" %>'>
                        <a href='<%= ResolveUrl("~/pages/projeler.aspx") %>'>PROJELER</a>
                    </li>
                    <li class="menu_break"></li>

                    <li class='<%= (AktifSayfaAdi == "ekip.aspx") ? "active" : "" %>'>
                        <a href='<%= ResolveUrl("~/pages/ekip.aspx") %>'>EKİBİMİZ</a>
                    </li>
                    <li class="menu_break"></li>

                    <li class='<%= (AktifSayfaAdi == "blog.aspx") ? "active" : "" %>'>
                        <a href='<%= ResolveUrl("~/pages/blog.aspx") %>'>BLOG</a>
                    </li>
                    <li class="menu_break"></li>

                    <li class='<%= (AktifSayfaAdi == "iletisim.aspx") ? "active" : "" %>'>
                        <a href='<%= ResolveUrl("~/pages/iletisim.aspx") %>'>İLETİŞİM</a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <div class="footer">
            <div class="wrapper">
                <div class="footer_content">
                    
                    <div class="footer_kolon footer_hakkinda">
                        <h3>Genç Birey Yazılım</h3>
                        <p>Yazılım sektöründe 10 yılı aşkın deneyimimizle yanınızdayız.</p>
                        <div class="footer_sosyal">
                            <div class="footer_sosyal_butonlar">
                                <a href="#" class="footer_sosyal_btn"><img src='<%= ResolveUrl("~/images/social_facebook.png") %>' /></a>
                                <a href="#" class="footer_sosyal_btn"><img src='<%= ResolveUrl("~/images/social_twitter.png") %>' /></a>
                                <a href="#" class="footer_sosyal_btn"><img src='<%= ResolveUrl("~/images/social_google_plus.png") %>' /></a>
                            </div>
                        </div>
                    </div>

                    <div class="footer_kolon footer_linkler">
                        <h3>Hızlı Linkler</h3>
                        <ul>
                            <li><a href='<%= ResolveUrl("~/index.aspx") %>'>Anasayfa</a></li>
                            <li><a href='<%= ResolveUrl("~/pages/hizmetler.aspx") %>'>Hizmetlerimiz</a></li>
                            <li><a href='<%= ResolveUrl("~/pages/projeler.aspx") %>'>Projeler</a></li>
                            <li><a href='<%= ResolveUrl("~/pages/ekip.aspx") %>'>Ekibimiz</a></li>
                            <li><a href='<%= ResolveUrl("~/pages/iletisim.aspx") %>'>İletişim</a></li>
                        </ul>
                    </div>

                    <div class="footer_kolon footer_iletisim">
                        <h3>İletişim</h3>
                        <div class="footer_iletisim_item">
                            <span>📍 Kıbrıs Şehitleri Cd. No:48 K:6 - 601 / İzmir</span>
                        </div>
                        <div class="footer_iletisim_item">
                            <span>📞 +90 232 464 1 184</span>
                        </div>
                        <div class="footer_iletisim_item">
                            <span>📧 info@gencbirey.com</span>
                        </div>
                    </div>

                </div>

                <div class="footer_alt">
                    <div class="footer_copyright">
                        © 2025 Genç Birey Yazılım. Tüm hakları saklıdır.
                    </div>
                </div>
            </div>
        </div>

    </form> </body>
</html>